## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME value counts for binning
counts = application_df['NAME'].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of NAME types to be replaced (used 5)
# use the variable name `name_replace`
name_replace = list(counts[counts<5].index)
name_replace

# Replace in dataframe
for name in name_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<700].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classificationbinning = application_df['CLASSIFICATION'].value_counts()
classificationbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = classificationbinning[classificationbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced (used value of 100)
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classificationbinning[classificationbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [13]:
# Split the preprocessed data into a training and testing dataset
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30
hidden_nodes_layer3=1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                36880

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 39,341
Trainable params: 39,341
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [18]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=30)

Epoch 1/30
684/684 [==============================] - 2s 2ms/step - loss: 0.4743 - accuracy: 0.7762 - val_loss: 0.4306 - val_accuracy: 0.7997
Epoch 2/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.7922 - val_loss: 0.4295 - val_accuracy: 0.7924
Epoch 3/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4268 - accuracy: 0.7952 - val_loss: 0.4276 - val_accuracy: 0.7966
Epoch 4/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4239 - accuracy: 0.7967 - val_loss: 0.4270 - val_accuracy: 0.7999
Epoch 5/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7980 - val_loss: 0.4267 - val_accuracy: 0.8007
Epoch 6/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4201 - accuracy: 0.7988 - val_loss: 0.4303 - val_accuracy: 0.8025
Epoch 7/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7998 - val_loss: 0.4293 - val_accuracy: 0.8036
Epoch 8/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.7988 - val_loss: 0.4332 - val_accuracy: 0.8015
Epoch 9/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4161 - accuracy: 0.8012 - val_loss: 0.4348 - val_accuracy: 0.8023
Epoch 10/30
684/684 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7996 - val_loss: 0.4319 - val_accuracy: 0.8025
Epoch 11/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4144 - accuracy: 0.8002 - val_loss: 0.4359 - val_accuracy: 0.8002
Epoch 12/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4138 - accuracy: 0.8014 - val_loss: 0.4344 - val_accuracy: 0.8072
Epoch 13/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8024 - val_loss: 0.4355 - val_accuracy: 0.8036
Epoch 14/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8023 - val_loss: 0.4320 - val_accuracy: 0.8044
Epoch 15/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8025 - val_loss: 0.4347 - val_accuracy: 0.7992
Epoch 16/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4105 - accuracy: 0.8024 - val_loss: 0.4365 - val_accuracy: 0.8018
Epoch 17/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4105 - accuracy: 0.8026 - val_loss: 0.4333 - val_accuracy: 0.8036
Epoch 18/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4093 - accuracy: 0.8024 - val_loss: 0.4384 - val_accuracy: 0.8049
Epoch 19/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4087 - accuracy: 0.8060 - val_loss: 0.4359 - val_accuracy: 0.8025
Epoch 20/30
684/684 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8037 - val_loss: 0.4369 - val_accuracy: 0.8046
Epoch 21/30
684/684 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8042 - val_loss: 0.4375 - val_accuracy: 0.8044
Epoch 22/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8045 - val_loss: 0.4388 - val_accuracy: 0.8020
Epoch 23/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4066 - accuracy: 0.8060 - val_loss: 0.4439 - val_accuracy: 0.8044
Epoch 24/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8045 - val_loss: 0.4423 - val_accuracy: 0.8015
Epoch 25/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8048 - val_loss: 0.4436 - val_accuracy: 0.8033
Epoch 26/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4054 - accuracy: 0.8048 - val_loss: 0.4413 - val_accuracy: 0.8005
Epoch 27/30
684/684 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8053 - val_loss: 0.4460 - val_accuracy: 0.8028
Epoch 28/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8054 - val_loss: 0.4425 - val_accuracy: 0.8041
Epoch 29/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4046 - accuracy: 0.8070 - val_loss: 0.4457 - val_accuracy: 0.8015
Epoch 30/30
684/684 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8067 - val_loss: 0.4448 - val_accuracy: 0.8015

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4666 - accuracy: 0.7900 - 491ms/epoch - 2ms/step
Loss: 0.4665783941745758, Accuracy: 0.789970874786377

In [21]:
# Export our model to HDF5 file

nn.save('Model/AlphabetSoupCharity_Optimization_Final.h5')